fastapi
uvicorn[standard]
pydantic
pydantic-settings
databases
sqlalchemy
aiosqlite
pytest
pytest-asyncio
requests
sounddevice
numpy
torch
silero-vad
faster-whisper
librosa
ollama
pyauto-desktop==0.5.0
Pillow
pyttsx3
edge-tts
